/* --------body--------- */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ---------main div--------- */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    max-width: 400px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    gap: 10px;
}

/* -------logo------------------- */
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
   
}

.logo img {
    width: 80px;
    height: 80px;
    border: solid;
    border-radius: 50%;
    border-color: rgb(5, 24, 5);
}

/* ---------Form--------------------- */
.FormInfo {
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.FormInfo label {
    font-size: 14px;
    font-weight: bold;
    color: rgb(5, 24, 5);
    margin-bottom: 5px;
}

input{
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #548854;
    outline: none;
    background-color: transparent;
    
}

input:hover {
    border-color:  rgb(172, 23, 73);
}

input:focus {
    border-color: blue;
}

/* --------button------------------- */
button {
    background-color: #548854;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color:rgb(10, 46, 10);
    transform: scale(1.06); 
}

/* -------------text------------------ */
.txtregister {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: #548854;
}

.txtregister a {
    color: #548854;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.txtregister a:hover {
    color: #052805;
}


h1 {
    font-size: 24px;
    color: #052805;
    margin: 0;
    transition: transform 1s ease-in-out; 
}
  
h1:hover {
    transform: rotate(360deg); 
    color: rgb(71, 21, 3);
  }
  

p:hover{
    font-size: 20px;
    color: red;

}

/* --------------------Media Queries------------------------------ */
@media (max-width: 768px) {
    .main-container {
        width: 90%;
        padding: 15px;
    }

    .logo img {
        width: 70px;
        height: 70px;
    }

    button {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .main-container {
        width: 95%;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }

    h1 {
        font-size: 20px;
    }

    .FormInfo label, .inputinfo, .txtregister {
        font-size: 12px;
    }
}
