<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../CSS/signup.css">
</head>

<body>

    <div class="main-container">
        <div class="logo">
            <img src="../RESOURCES/image.png" alt="Logo">
        </div>
    
        <form id="registrationForm">
            <div class="txtregister">
                <h1>SIGN UP</h1>
            </div>
    
            <div class="txtregister">
                <p>Enter your details to Sign up!!!!!</p>
            </div>
    
            <div class="FormInfo">
                <label for="username">Username</label>
                <input type="text" id="username" placeholder="Create your username">
    
                <label for="email">Email address</label>
                <input type="text" id="email" placeholder="Enter your email address">
    
                <label for="cellphone">Cell phone number</label>
                <input type="text" id="cellphone" placeholder="Enter your Cellphone number">
    
                <label for="password">Create Password</label>
                <input type="password" id="password" placeholder="Create your Password">
    
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" placeholder="Enter your password again">
    
                <div class="Registerbutton">
                    <button type="submit">Sign up</button>
                </div>
    
                <div class="txtregister">
                    <span>Already have an account?</span><a href="../HTML/signin.html">Login</a>
                </div>
            </div>
           
        </form>
    </div>
     
<script src="../JAVASCRIPT/signup.js"></script>     
</body>
</html>

